[user]
    name = Felix Hammerl
    email = fhammerl@thoughtworks.com
[color]
    ui = true
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[core]
    editor = vim
[push]
    default = simple
[pull]
    rebase = true
[help]
    autocorrect = 0
