[user]
    name = Felix Hammerl
    email = felix.hammerl@gmail.com
    signingkey = ~/.ssh/id_ed25519_sk

[gpg]
    format = ssh

[commit]
    gpgsign = true

[color]
    ui = true
    branch = auto
    diff = auto
    interactive = auto
    status = auto

[core]
    editor = vim

[push]
    default = simple
      autoSetupRemote = true

[pull]
    rebase = true

[help]
    autocorrect = 0

[init]
    defaultBranch = main

; [includeIf "gitdir:~/Projects/private/"]
;     path = ~/Projects/private/.gitconfig.private
; [url "git@github-<client>:<client-gh-org>/"]
;     insteadOf = git@github.com:<client-gh-org>/
; [url "git@github-<client>:<client-gh-org>/"]
;     insteadOf = https://github.com/<client-gh-org>/;
